html,body{
  background-color: gray;
}

.container{
  max-width: 300px;
  background-color: #eee;
  margin: 1rem auto;
  padding: 1rem;
}

h1{
  color: darkorange;
  color: darkred;
  color: darkslategrey;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 7px;
  border: none;
  background: darkslategray;
  cursor: pointer;
  animation: FadeIn 2s ease-in;
}

button:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

button.sm{
  font-size: 0.75rem;
}

button.lg{
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

button.secondary{
  background-color: darkorange;
}
button.error{
  background-color: red;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex > * {
  margin-bottom: 0.5rem;
}

a{
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  color: darkorange;
}

@keyframes FadeIn {
  from{
    transform: translateY(-20px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
  
}